name: CI
on:
  push:
    branches: [dev, staging, main]
  pull_request:
    branches: [staging, main]

jobs:
  lint:
    name: Lint Go code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.21"

      - name: Go Format
        run: go fmt ./...

      - name: Go Vet
        run: go vet ./...

      - name: GolangCI-Lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest

  test:
    name: Tests Go
    needs: lint
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/staging' || github.ref == 'refs/heads/main' || github.base_ref == 'staging' || github.base_ref == 'main'
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.21"

      - name: Go Test
        run: go test -v ./...
